{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ include('admin/layouts/header.html.twig') }}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            {{ include('admin/layouts/sidebar.html.twig') }}
        </div>

        <div class="main">
            <h1 class="text-center anton-font text-dark">Admin home page</h1>
        </div>
    </div>
</div>

    {{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
