<div class="sidebar ">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading11">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11"
                   aria-expanded="false" aria-controls="collapse11">
                    <p class="mb-0 text-center font-weight-bold text-uppercase">
                        Something
                    </p>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
                 data-parent="#accordionEx2">
                <div class="card-body rgba-teal-strong white-text">
                    <a href="#" class="text-center"><p>Show</p></a>
                    <a href="#" class="text-center"><p>Create</p></a>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
        </div>
        <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->
</div>
